Repository mrkrstphr/open-outpost: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["bash -c 'npm run typecheck'"],
  "*.{ts,tsx,js,jsx,mjs}": ["npm run lint -- --max-warnings 0"]
}

chore: research json -> js, starting eden|plymouth
  src/data/research.ts
  src/data/structures.ts
  src/eden-buildings.json
  src/eden-research-tree.json
  src/panels/Structures/LabPanel.tsx
  src/state/initialState.ts
  src/state/slices/game.ts
  src/types.ts
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

feat: debug panel, remove menu
  index.html
  src/App.tsx
  src/components/ContentBox.tsx
  src/panels/Debug/Debug.tsx
  src/panels/Debug/Trigger.tsx
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

feat: fix responsive layout issues
  src/App.tsx
  src/panels/Debug/Trigger.tsx
  src/panels/Structures/Structures.tsx
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

feat: some UI changes
  src/components/Button.tsx
  src/components/ContentBox.tsx
  src/panels/Structures/Structures.tsx
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

feat: mobile/responsive Command Center
  src/App.tsx
  src/components/SimpleDataTable.tsx
  src/panels/Structures/CommandCenter.tsx
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

feat: persist game state w/ redux-remember
  package-lock.json
  package.json
  src/store.ts
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

feat: implement react-router
  package-lock.json
  package.json
  src/App.tsx
  src/components/Button.tsx
  src/components/Debug/Debug.tsx
  src/components/Debug/Trigger.tsx
  src/components/PageNotFound.tsx
  src/components/Structures/CommandCenter.tsx
  src/components/Structures/FactoryStructure.tsx
  src/components/Structures/Lab.tsx
  src/components/Structures/StructureContainer.tsx
  src/components/Structures/StructureHasNoPower.tsx
  src/components/Structures/StructureIsBuildingPanel.tsx
  src/components/Structures/StructureIsDisabled.tsx
  src/components/Structures/StructureNotFound.tsx
  src/components/Structures/Structures.tsx
  src/components/Structures/types.ts
  src/index.css
  src/index.tsx
  src/panels/Structures/CommandCenter.tsx
  src/panels/Structures/Structures.tsx
  src/panels/Structures/index.tsx
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

feat: adds Restart Game in Debug
  src/components/Debug/Debug.tsx
  src/state/initialState.ts
  src/state/reducers/newGame.ts
  src/state/slices/game.ts
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

feat: adds Notices page
  src/App.tsx
  src/components/Button.tsx
  src/components/NoticeBar.tsx
  src/components/Notices.tsx
  src/hooks/useNotices.ts
  src/index.tsx
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

chore: move structure images to images/
  src/data/structures.ts
  src/images/structures/eden-advanced-label.png
  src/images/structures/eden-advanced-residence.png
  src/images/structures/eden-agridome.png
  src/images/structures/eden-command-center.png
  src/images/structures/eden-ore-storage-common.png
  src/images/structures/eden-ore-storage-rare.png
  src/images/structures/eden-residence.png
  src/images/structures/eden-smelter-common.png
  src/images/structures/eden-smelter-rare.png
  src/images/structures/eden-standard-lab.png
  src/images/structures/eden-structure-factory.png
  src/images/structures/eden-tokamak.png
  src/images/structures/eden-university.png
  src/images/structures/eden-vehicle-factory.png
  src/images/structures/plymouth-advanced-label.png
  src/images/structures/plymouth-agridome.png
  src/images/structures/plymouth-command-center.png
  src/images/structures/plymouth-ore-storage-common.png
  src/images/structures/plymouth-ore-storage-rare.png
  src/images/structures/plymouth-reinforced-residence.png
  src/images/structures/plymouth-residence.png
  src/images/structures/plymouth-smelter-common.png
  src/images/structures/plymouth-smelter-rare.png
  src/images/structures/plymouth-standard-lab.png
  src/images/structures/plymouth-structure-factory.png
  src/images/structures/plymouth-tokamak.png
  src/images/structures/plymouth-university.png
  src/images/structures/plymouth-vehicle-factory.png
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

fix: calculateAvailableScientists should account for worker shortage
  src/utils.test.ts
  src/utils.ts
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

feat: disablable buttons
  src/components/Button.tsx
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

feat: research scientist allocation
  src/components/Structures/Lab.tsx
  src/state/initialState.ts
  src/state/reducers/startResearch.test.ts
  src/state/reducers/startResearch.ts
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

feat: gh-pages branch
  index.html
Due: none

deploy: 2eb3d1c272ab6a538e68ab1c4198b4f6e0311422
  .nojekyll
  assets/CommandCenter-T-OP7JaA.js
  assets/Debug-D9W3O0o8.js
  assets/FactoryStructure-Cd1Xxgs0.js
  assets/Lab-CvxkTGAx.js
  assets/Notices-CwT8XLE-.js
  assets/TechnoRaceItalic-BaD4zBaC.otf
  assets/alert-DQyOwDam.mp3
  assets/howler-DHzy5P4E.js
  assets/index-BIjrSCCO.css
  assets/index-CvEx72IU.js
  assets/plymouth-agridome-cmoLSi4M.png
  assets/plymouth-command-center-C8XxprDV.png
  assets/plymouth-smelter-common-DIF2g57G.png
  assets/plymouth-structure-factory-Bzms3PUF.png
  assets/useColonists-Dr6-Z_j-.js
  assets/useOre-i-sPKxxI.js
  index.html
Due: npm run lint -- --max-warnings 0

deploy: cbe6cf3f8c162c0fd57ce4716e3f94bd16392044
  assets/CommandCenter-D4DpMf7f.js
  assets/CommandCenter-T-OP7JaA.js
  assets/Debug-BhwuyCa4.js
  assets/Debug-D9W3O0o8.js
  assets/FactoryStructure-CKHxLqdV.js
  assets/FactoryStructure-Cd1Xxgs0.js
  assets/Lab-CKKDP4DG.js
  assets/Lab-CvxkTGAx.js
  assets/Notices-BmwjlLCc.js
  assets/Notices-CwT8XLE-.js
  assets/howler-CXMZqZzC.js
  assets/index-B0snD67o.css
  assets/index-BIjrSCCO.css
  assets/index-Cf9nK9zE.js
  assets/useColonists-BRijemAB.js
  assets/useColonists-Dr6-Z_j-.js
  assets/useOre-5aDKuiml.js
  assets/useOre-i-sPKxxI.js
  index.html
Due: npm run lint -- --max-warnings 0

deploy: 23def57f20c9e53145ccf312f0b049d6a7669cac
  assets/CommandCenter-BOe-SVrf.js
  assets/CommandCenter-D4DpMf7f.js
  assets/Debug-BhwuyCa4.js
  assets/Debug-Bkpjmms7.js
  assets/FactoryStructure-B3iktfqI.js
  assets/FactoryStructure-CKHxLqdV.js
  assets/Lab-CKKDP4DG.js
  assets/Lab-zMdH_l-V.js
  assets/Notices-B33pntQA.js
  assets/Notices-BmwjlLCc.js
  assets/howler-X5oKEAZF.js
  assets/index-B0snD67o.css
  assets/index-CSHRe2rQ.css
  assets/index-DYQgUpNh.js
  assets/useColonists-BRijemAB.js
  assets/useColonists-CCqqz7aC.js
  assets/useOre-5aDKuiml.js
  assets/useOre-Bi7pYTU8.js
  index.html
Due: npm run lint -- --max-warnings 0

deploy: ccd8c2674fe7676ce5a7d01cd4815bd18b742358
  assets/CommandCenter-BOe-SVrf.js
  assets/CommandCenter-B_11eAL8.js
  assets/Debug-Bkpjmms7.js
  assets/Debug-jIsbNntv.js
  assets/FactoryStructure-B3iktfqI.js
  assets/FactoryStructure-aevTshLS.js
  assets/Lab-DwiPEZ3n.js
  assets/Lab-zMdH_l-V.js
  assets/Notices-B33pntQA.js
  assets/Notices-DcOLibMh.js
  assets/howler-DMJwYbb4.js
  assets/index-RihTCy4q.js
  assets/useColonists-CCqqz7aC.js
  assets/useColonists-D7RMJIm1.js
  assets/useOre-Bi7pYTU8.js
  assets/useOre-BmV32CJm.js
  index.html
Due: npm run lint -- --max-warnings 0

feat: GitHub pages deployment action
  .github/workflows/deploy.yml
  package.json
  src/index.tsx
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

fix: add building status
  src/components/Structures/CommandCenter.tsx
  src/components/Structures/FactoryStructure.tsx
  src/components/Structures/Lab.tsx
  src/components/Structures/StructureStats.tsx
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

fix: add views for current building types
  src/components/Structures/Agridome.tsx
  src/components/Structures/PowerStructure.tsx
  src/components/Structures/Residence.tsx
  src/components/Structures/Smelter.tsx
  src/index.tsx
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

feat: genericize stats + BoringStructure
  src/components/Structures/Agridome.tsx
  src/components/Structures/BoringStructure.tsx
  src/components/Structures/CommandCenter.tsx
  src/components/Structures/FactoryStructure.tsx
  src/components/Structures/Lab.tsx
  src/components/Structures/PowerStructure.tsx
  src/components/Structures/Residence.tsx
  src/components/Structures/Smelter.tsx
  src/components/Structures/StructureContainer.tsx
  src/components/Structures/StructureStats.tsx
  src/index.tsx
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

chore: extract routes from index.tsx
  src/Routes.tsx
  src/index.tsx
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

feat: disabling structures
  src/components/Structures/StructureContainer.tsx
  src/state/reducers/disableStructure.test.ts
  src/state/reducers/disableStructure.ts
  src/state/slices/game.ts
  src/utils.ts
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

feat: enabling offline structures
  src/components/Alert.tsx
  src/components/Structures/StructureContainer.tsx
  src/components/Structures/StructureIsDisabled.tsx
  src/data/structures.ts
  src/hooks/usePower.ts
  src/state/reducers/enableStructure.test.ts
  src/state/reducers/enableStructure.ts
  src/state/slices/game.ts
  src/util/colonists.test.ts
  src/util/colonists.ts
  src/util/power.test.ts
  src/util/power.ts
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

feat: Structure Factory responsive/mobile design
  src/components/ContentBox.tsx
  src/components/Structures/FactoryStructure.tsx
  src/components/Structures/StructureContainer.tsx
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

feat: mobile/responsive view for Labs
  src/components/Structures/Lab.tsx
Due: bash -c 'npm run typecheck', npm run lint -- --max-warnings 0

deploy: 0065f127256612d609fed356b24d0204a214aa64
  assets/BoringStructure-B-O9RfsE.js
  assets/CommandCenter-B_11eAL8.js
  assets/CommandCenter-hAi08WqL.js
  assets/Debug-DL0WAo_l.js
  assets/Debug-jIsbNntv.js
  assets/FactoryStructure-CPbFRRPW.js
  assets/FactoryStructure-aevTshLS.js
  assets/Lab-BzAiPyn5.js
  assets/Lab-DwiPEZ3n.js
  assets/Notices-DcOLibMh.js
  assets/Notices-Wd4vihxX.js
  assets/howler-DU6SnSl7.js
  assets/index-BXP4ub_S.css
  assets/index-BZAYrGyZ.js
  assets/index-CSHRe2rQ.css
  assets/index-RihTCy4q.js
  assets/types-BYagSVKs.js
  assets/useColonists-BtlhQiJP.js
  assets/useColonists-D7RMJIm1.js
  assets/useOre-BmV32CJm.js
  assets/useOre-DJz7t0TE.js
  index.html
Due: npm run lint -- --max-warnings 0
